@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.navbar{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    font-family: "Inter", serif;
}
.nav-item{
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #3EB2E4 !important;
}
#registerNavBtn{
    margin-top: -5px;
    border: 2px solid #3EB2E4;
    background-color: #3EB2E4;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.2s all ease;
}
#registerNavBtn:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

/* Responsive Settings */
@media screen and (max-width : 1600px){
    .navbar{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (max-width : 999px){

    .nav-item{
        margin-left: 0px;
        margin-top: 10px;
    }
    .navbar{
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    .navbar-toggler{
        border-color: white;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
}